<!doctype html>
<!--Name: Nathan Siu
    Student Number:200281793
    Page:about page
-->
<html>
<head>
    <title>Nathan's Portfolio</title>
    
    <!-- CSS Section -->
<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">

  <!-- Custom CSS -->
  <link rel='stylesheet' href='/stylesheets/style.css' />

    
</head>
<body>
    
    <nav class="navbar navbar-default"><!--using bootstrap default nav bar-->
    
        <ul class="nav nav-pills"><!-- using the bootstrap pills style navbar-->
            <li><a href= "/">home</a></li>
             <li><a href= "/about">about</a></li><!--navigation links-->
             <li><a href= "/services">services</a></li>
             <li><a href= "/projects">projects</a></li>
             <li><a href= "/contact">contact</a></li>
             <li><a href= "/login">login</a></li>
              <li><a href="/logout">Logout</a></li>
        
        </ul>
    </nav>
    